<form action="/clientes/nuevo" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombres</label>
    <input type="text" class="form-control" id="nombres" name="nombres" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Apellidos</label>
    <input type="text" class="form-control" id="apellidos" name="apellidos">
  </div> 
  <div class="form-group">
    <label for="exampleInputPassword1">Cedula</label>
    <input type="text" class="form-control" id="cedula" name="cedula">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>