<style>
    body {
    background-color: black;
    color: white;
  }

  h1 {
      text-align: center;
  }

  .card {
      color: black;
      margin: auto;
  }


</style>

<h1>Lista Clientes</h1>

<div class="container p-4">
    <div class="row">
        {{#each users}}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{first_name}}</h5>
                    <p class="card-text">{{last_name}}</p>
                    <p class="card-text">{{fip_total}}</p>
                </div>
         {{/each}}
        </div>
    </div>
</div>