body {
    background-color: black;
    font-family: 'DaisyWheel', sans-serif;    
    
}

.logo {
    width: 4%;
}

h1 {
    color: white;
    font-size: 3vw;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

h5, p {
    color: black;
}


.mascara {
    width: 20%;
}

form {
    width: 30%;
    margin: auto;
}

.form-control {
    border-radius: 3px;
}

.btn-primary {}