<h1>Inventarios</h1>
<div class="container p-4">
    <div class="row"> 
        {{#each respuesta}} 
        <div class="card" style="width: 18rem;"> <img src="..." class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">{{nombre}}</h5>
                <p class="card-text">{{descripcion}}</p> <a href="#" class="btn btn-primary">{{descripcion}}</a>
            </div>
        </div> 
        {{/each}} 
    </div>
</div>