<h1>Add Product</h1>


<form action="/productos/agregarproducto" method="POST">
  <div class="form-group">
    <label for="product_name">Product Name</label>
    <input type="text" class="form-control" id="nombre" name="product_name">
  </div>   
  <div class="form-group">
    <label for="product_price">Product Price Name</label>
    <input type="text" class="form-control" id="apellido" name="product_price">
  </div> 
  <div class="form-group">
    <label for="sku">SKU</label>
    <input type="text" class="form-control" id="email" name="sku">
  </div> 
  <div class="form-group">
    <label for="discount">Discount</label>
    <input type="text" class="form-control" id="discount" name="discount" >
  </div>
  <div class="form-group">
    <label for="product_description">Product Description</label>
    <input type="text" class="form-control" id="fip" name="product_description">
  </div>
  <div class="form-group">
    <label for="quantity_stock">Quantity in Stock</label>
    <input type="text" class="form-control" id="fip" name="quantity_stock">
  </div>
  <div class="form-group">
    <label for="reviews">Reviews</label>
    <input type="text" class="form-control" id="fip" name="reviews">
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="text" class="form-control" id="fip" name="rating">
  </div>
  <div class="form-group">
    <label for="user_id">User ID</label>
    <input type="text" class="form-control" id="fip" name="user_id">
  </div>
  <div class="form-group">
    <label for="fip_value">FIP Value</label>
    <input type="text" class="form-control" id="fip" name="fip_value">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>