<h1>Agregar Medio de Pago</h1>
<form action="/productos/agregarmedio" method="POST">
  <div class="form-group">
    <label for="credit_card">Credit Card</label>
    <input type="text" class="form-control" id="credit_card" name="credit_card">
  </div>   
  <div class="form-group">
    <label for="debit">Debit</label>
    <input type="text" class="form-control" id="debit" name="debit">
  </div> 
  <div class="form-group">
    <label for="cash">Cash</label>
    <input type="text" class="form-control" id="cash" name="cash">
  </div> 
  <div class="form-group">
    <label for="user_id">User ID</label>
    <input type="text" class="form-control" id="user_id" name="user_id" >
  </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>