<h1>SHOP</h1>
<img class="mascara" src="/images/mascara.png" alt="">
<div class="container p-4">
    <div class="row">
        {{#each products}}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{product_name}}</h5>
                    <p class="card-text">{{product_price}}</p>
                    <p class="card-text">{{discount}}</p>
                    <img src="/images/boa.png" alt="">
                </div>
         {{/each}}
        </div>
    </div>
</div>
  