<div class="container p-4">
    <div class="row">
        {{#each baratos}}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{product_name}}</h5>
                    <p class="card-text">{{product_price}}</p>
                </div>
         {{/each}}
        </div>
    </div>
</div>